@import 'tailwindcss';

@theme {
  --color-text-400: #999;
  --color-text-500: rgb(225, 225, 225);
  --color-bg-500: #282828;
  --color-bg-600: #444;
  --color-accent-500: cyan;
}

body {
  @apply bg-bg-500 text-text-500 overflow-x-hidden;
}

@layer base {
  h1 {
    @apply text-4xl font-bold text-center;
  }
  input {
    @apply p-1 border-b-1 outline-0;
  }
  button {
    @apply py-1 px-4 border-1 rounded-2xl outline-0 cursor-pointer;
    &:disabled {
      @apply cursor-not-allowed text-text-400;
    }
  }
}

.player-board-0 {
  transition: transform 0.5s ease;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(40deg) translateX(-20%) translateY(-25%) scale(35%);
}

.player-board-1 {
  transition: transform 0.5s ease;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateY(-40deg) translateX(20%) translateY(-25%) scale(35%);
}

.my-player-board {
  transform: rotateX(10deg) scale(90%);
  transition: transform 0.5s ease;
}

.active-monster {
  animation: activeShadow 2s infinite;
}

@keyframes activeShadow {
  50% {
    box-shadow: 0px 0px 50px var(--color-accent-500);
    background-color: var(--color-accent-500);
  }
}
